body {
    background-image: url(https://images.unsplash.com/photo-1515703407324-5f753afd8be8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3367&q=80);
    text-align: center;
}

.text-muted {
    color: blue;
}

.last-seconds {
    color: red;
}

.option {
    margin: 15px;
}