body {
    background-image: url(https://images.unsplash.com/photo-1517177646641-83fe10f14633?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2208&q=80);
    text-align: center;
}

.text-muted {
    color: rgb(101, 101, 153);
    font-size: 30px
}

.jumbotron {
    background: white;
    align: center;
}

.last-seconds {
    color: red;
}

.option {
    margin: 20px;
}